@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:100);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab:100);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Lora|Ubuntu);

body {
	font-size: 100%;
  font-family: 'Josefin Slab', serif;
  background-color:rgb(243, 235, 233);
}

#body {
  background-color: white;
}

.wrapper {
	width: 970px;
	margin: 0 auto;
	background: white;
	padding: 0px 15px 20px;
}

/* home */
#header {
  padding: 145px 100px 145px 100px;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  color: #A0CFE6;
  border-style: solid;
  border-left: white;
  border-right: white;
}

/* pages */
.header {
  padding: 35px 0px 0px 0px;
  text-align: center;
  margin: 0 auto;
  display: block;
  color: #A0CFE6;
}

#navleft {
  font-size: 22px;
  font-family: 'Josefin Sans', sans-serif;
  float: left;
}

#navleft a {
  color: black;
}

#navright {
  font-size: 22px;
  font-family: 'Josefin Sans', sans-serif;
  float: right;
}

#navright a {
  color: black;
}

h1 {
  display: inline-block;
  text-align: center;
  position: relative
  bottom: 20px;
  font-size: 40px;
  color: #A0CFE6;
}

#home {
  font-size: 100px;
}

h2 {
  display: block;
  text-align: center;
  font-size: 18px;
}

#gmail {
    font-family: "Lora";
}

p {
  font-size: 16.5px;
}

.text {
  padding: 20px 110px 10px 110px;
}

/* .carousel .item {
  margin: 0 auto;
} */

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    padding: 50px 0px 0px 0px;
}

.carousel-inner > .item > iframe {
    left: 10%;
    padding: 50px 0px 0px 0px;
}

#bits {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 200px;
}

.icon {
  height: 60px;
  width: 60px;
  display: inline-block;
/*   margin: 0 auto; */
}

.icons {
  display: block;
  left: 36.5%;
  position: relative;
  padding: 35px 0px;
}

.bottom {
  text-align: center;
  font-size: 18px;
  padding: 30px 0px 20px 0px;
  position: relative;
}

#sin1 {
  height: 80px;
  width: 15%;
  left: 37.5;
}
#sin2 {
  height: 80px;
  width: 15%;
}

@keyframes example {
   {background-color: red; left:0px; top:0px;}
}

@keyframes example {
    0%   {background-color: #A0CFE6;}
    25%  {background-color: #A6CAFF;}
    50%  {background-color: #00CCFF;}
    95%  {background-color: #7575FF;}
    100% {background-color: #A0CFE6;}
}

/* The element to apply the animation to */
.line {
    width: 940px;
    height: 10px;
    background-color: #A0CFE6;
    animation-name: example;
    animation-duration: 7s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

@keyframes move {
   0% {background-color: #A0CFE6; left: 0px; top: 0px;}
   .3% {background-color: #4775FF; left:775px; top:0px;}
   1% {background-color: #A0CFE6; left:775px; top:0px;}
}

.linemove {
    width: 100px;
    height: 10px;
    margin: 25px;
    position: relative;
    background-color: #A0CFE6;
    animation-name: move;
    animation-duration: 500s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

#margin {
  height: 35px;
}

@keyframes move2 {
   0% {background-color: white; left: 45px; top: 0px;}
   .2% {background-color: #002933; left:350px; top:0px;}
   .3% {background-color: #002933; left:73px; top:0px; width: 600px;}
}

.lineheader {
    width: 100px;
    height: 1px;
    position: relative;
    background-color: white;
    animation-name: move2;
    animation-duration: 500s;
    animation-delay: .6s;
    animation-iteration-count: 1;
}

iframe {
  margin: 0 auto;
  display: block;
}

h3 {
  font-size: 16.5px;
  text-align: center;
}

.iconsbits {
  display: block;
  left: 37%;
  position: relative;
  padding: 10px 0px;
}

#email {
  margin-top: 35px;
  color: black;
  font-family: "Lora";
}
